{% extends 'base.html' %}

{% block title %}
    <title>{{ product.title }}</title>
{% endblock %}

{% block content %}
    <div class="posts-wrapper">
        <div class="post-card">
            <h2 class="post-title">{{ product.title }}</h2>
            {% for image in product.images.all %}
                <img src="{{ image.image.url }}" alt="{{ product.title }}" class="post-image">
            {% endfor %}
            <p>{{ product.description }}</p>
            <h3>Характеристики:</h3>
            <p>Высота - {{ product.characteristics.height }} см.</p>
            <p>Ширина - {{ product.characteristics.width }} см.</p>
            <p>Вес - {{ product.characteristics.weight }} гр.</p>
            <p>Материал - {{ product.characteristics.material }}</p>
            <h3>{{ product.price }} руб.</h3>
        </div>
        <div class="connection"><a href="">Написать в телеграмм</a></div>
        <hr class="post-separator">
    </div>
{% endblock %}