{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block title %}
<h1>Код для смены пароля</h1>
{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<hr>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Подтвердить</button>
</form>
<hr>
<a href="{% url 'login' %}">Вернуться на страницу авторизации</a>
{% endblock %}

