{% extends "base.html" %}

{% block title %}
<h1>Подтверждение электронной почты</h1>
{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<hr>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Подтвердить</button>
</form>
<hr>
Пoвторно запросить код:
<form method="post" action="{% url 'send_conf_code_again' %}">
    {% csrf_token %}
    <input type="email" name="email" placeholder="example@mail.ru">
    <button type="submit">Отправить</button>
</form>
<hr>
<a href="{% url 'registration' %}">Вернуться на страницу регистрации</a>

{% endblock %}


