{% extends "base.html" %}

{% block title %}
<h1>Страница пользователя</h1>
{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<hr>
<h1>Профиль пользователя: {{ request.user.username}}</h1>
<p>{{ request.user.first_name }}</p>
<p>{{ request.user.last_name }}</p>
<p>{{ request.user.email }}</p>
<a href="{% url 'main_page' %}">Главная</a>
<p><a href="{% url 'logout' %}">Выйти из аккаунта</a></p>

{% endblock %}

