{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block title %}
<title>Страница пользователя</title>
{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<hr>
<h1>Профиль пользователя: {{ request.user.username}}</h1>
<p>{{ request.user.first_name }}</p>
<p>{{ request.user.last_name }}</p>
<p>{{ request.user.email }}</p>
<p><a href="{% url 'logout' %}">Выйти из аккаунта</a></p>

{% endblock %}

