{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block title %}
<h1>Страница регистрациии</h1>
{% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Зарегистрироваться</button>
</form>
<hr>
<a href="{% url 'email_code_confirmation' %}">Ввести код подтверждения</a>
<hr>
<div class='auth'>
    <p><a href="{% url 'social:begin' 'google-oauth2' %}">Зарегистрироваться через Google</a></p>
    <p><a href="{% url 'social:begin' 'yandex-oauth2' %}">Зарегистрироваться через Yandex</a></p>
</div>
<hr>
<a href="{% url 'login' %}">Войти в аккаунт</a>

{% endblock %}

