{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block title %}
    <title>Блог</title>
{% endblock %}

{% block content %}
    <div class="posts-wrapper">
        {% if posts %}
            {% for post in posts %}
                <div class="post-card">
                    <h5 class="post-title"><a href="{{ post.id }}">{{ post.title }}</a></h5>
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="post-image">
                    {% endif %}
                    <p class="post-text">{{ post.text |truncatechars_html:500 | safe }}</p>
                    <h6 class="post-date">Дата публикации: {{ post.time_in | date:'d' }}. {{ post.time_in | date:'m' }}. 
            {{ post.time_in | date:'Y' }} | {{ post.time_in | date:'G:i' }}</h6>
            <h6 class="post-date">Просмотров: {{ post.views }}</h6>
            <h6 class="post-date">Комментариев: {{ post.comments_count }}</h6>
                </div>
                <hr class="post-separator">
            {% endfor %}
        {% else %}
            <p>Пока нет записей в блоге.</p>
        {% endif %}
    </div>
{% endblock %}
