{% load static %}
<header class="site-header">
    <div class="header-container">
        <a href="{% url 'showcase_list' %}" class="logo-link">
            <img src="{% static 'img/logo.png' %}" alt="Логотип PlotnikovaShop" class="logo-img">
        </a>
        <nav class="main-nav">
            <ul class="nav-list">
                <li><a href="{% url 'showcase_list' %}" class="nav-link">Витрина</a></li>
                <li><a href="{% url 'post_list' %}" class="nav-link">Блог автора</a></li>
                <li><a href="{% url 'profile_page' %}" class="nav-link">Профиль</a></li>
            </ul>
        </nav>
    </div>
</header>
