{% extends "base.html" %}

{% block title %}
    <title>Главная страница</title>
{% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<hr>
{% if request.user.is_authenticated %}
    <h4>Здравствуйте {{ request.user.first_name }} {{ request.user.last_name }}</h4>
{% else %}
    <a href="{% url 'login' %}">Войти в профиль</a>
    <a href="{% url 'registration' %}">Зарегистрироваться</a>
{% endif %}
{% endblock %}
